body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(
    to top right,
    /* rgba(10, 0, 0, 100%),
    rgba(91, 84, 84, 56%) */ rgba(36, 37, 93, 100%),
    rgba(225, 225, 225, 100%)
  );
}

span {
  padding-left: 8px;
  color: white;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  padding: 30px 20px;
}

div .closeAbout {
  padding: 20px 20px;
}

.sidenav {
  font-family: "Lobster", cursive;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding: 30px 20px;
}

h1 {
  /* font-family: futura; */
  font-family: "Lobster", cursive;
  color: white;
  font-size: 42px;
  text-align: center;
  padding-top: 30px;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
}

h2 {
  font-family: Telugu Sangam MN;
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 9px;
  /* text-transform: uppercase; */
}

.carousel-container img {
  width: 100%;
  height: 234px;
}

/*Fade effect for carousel photos*/
.slide {
  animation-name: effect;
  animation-duration: 4s;
}

@keyframes effect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide {
  display: none;
}

/*Arrow to shift carousel photos*/

.prev {
  color: white;
  float: left;
  margin-top: -120px;
  padding-left: 15px;
}

.next {
  color: white;
  float: right;
  margin-top: -120px;
  padding-right: 15px;
  /*  */
}

/*ABOUT PAGE*/

p {
  font-size: 15px;
  text-align: center;
  color: white;
  line-height: 2em;
  padding-top: 20px;
  margin: 35px;
}

.about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 50px;
}

.closeAbout {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
}

/*CONTACT PAGE*/

h3 {
  display: flex;
  justify-content: center;
  font-family: "Lobster", cursive;
  color: white;
  font-size: 42px;
  font-style: italic;
  padding-top: 100px;
  padding-right: 30px;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
}

.far {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  padding-left: 80px;
}

.email-icon {
  padding-top: 2px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.email {
  display: flex;
  justify-content: center;
  padding-right: 70px;
}

.email:hover {
  cursor: pointer;
}

/*UNDER CONCSTRUCTION*/

.under {
  font-size: 25px;
}

/*PORTFOLIO PAGE*/
* {
  box-sizing: border-box;
}
img {
  width: 100%;
}
body {
  margin: 0;
  font-family: Arial;
}
.header {
  text-align: center;
  padding: 32px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

/* Create four equal columns
  that sits next to each other */
.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border: 5px solid #fff;
}
.column img:hover {
  opacity: 0.5;
}

/* .pic-text {
  color: white;
  font-size: 16px;
  padding: 15px 32px;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
} */

.gallery:hover .img {
  opacity: 0.7;
}

.gallery:hover .middle {
  opacity: 1;
}

/*UNDER CONSTRUCTION PAGE*/
.under-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding-top: 30px;
}

.under {
  font-family: sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}

/* Responsive layout - makes a two column-layout instead of four
  columns */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
} /* Responsive layout - makes the two columns stack on
  top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
